@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  @apply bg-indigo-900;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



.slider {
  width: 520px
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 48px;
  height: 48px;
  border: 0;
  background: url('/drag.png');
  cursor: pointer
}


.slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 48px;
  height: 48px;
  border: 0;
  background: url('/drag.png');
  cursor: pointer
}

.disabled.slider::-webkit-slider-thumb {
  background: url('/drag-disabled.svg');
}

.disabled.slider::-moz-range-thumb {
  background: url('/drag-disabled.svg');
}
